@font-face {
  font-family: "GFF";
  font-style: normal;
  font-weight: 400;
  src: url("https://gst-static.garenanow.com/gs/games/ff/fonts/gff/woff2/GFFLatinW05-Regular.woff2")
      format("woff2"),
    url("https://gst-static.garenanow.com/gs/games/ff/fonts/gff/woff/GFFLatinW05-Regular.woff")
      format("woff");
}


body {
    font-family: "GFF";
    margin: 0;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    padding: 20px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #465D93;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(70,98,145,0.6);
    padding: 20px;
    border: 2px solid #6580C1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
    
}

input[type="text"] {
 width: 90%;
 padding: 8px;
 margin: 10px;
 border: 1px #26324e double;
 border-radius: 4px;
 background-color: #242e44;
 transition: all 500ms ease;
 color: #b7d3ff;
}

input[type="text"]:focus {
 outline: none;
 border-color: #242e44;
 background-color: #1e293b;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 100%;
  height: 35px;
  border-radius: 10px;
  color: #0F172A;
  background-color: #7C9FD8;
  border: none;
}
#p{
  color: white;
}



@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Apply animation to the animated class */
.animated {
  animation: fadeIn 200ms ease-in-out;
}

#results-limit-input {
 width: 90%;
 padding: 8px;
 margin: 10px;
 border: 1px #26324e double;
 border-radius: 4px;
 background-color: #242e44;
 transition: all 500ms ease;
 color: #b7d3ff;
}

#results-limit-input:focus {
 outline: none;
 border-color: #242e44;
 background-color: #1e293b;
}



#pagination-container {
        display: flex;
        justify-content: left;
        align-items: left; /* Add this line to vertically center buttons */
        margin-top: 20px;
        overflow-x: auto; /* Add this line to enable horizontal scrolling if needed */
    }

    .pagination-button {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #7C9FD8;
        color: #0F172A;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination-button:hover {
        background-color: #465D93;
        color: #ffffff;
    }
    
    #results-limit-input{
      display: none;
    }
    
    .jusjxjhh {
  height: 100%;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  touch-action: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wjsjhs {
  background: #253251;
  height: auto;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 7%;
  margin-right: 7%;
}
.djdndn {
  color: #c7d7ff;
  
  color: #c7d7ff;
  font-size: 150%;
}


@keyframes dialog1hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dialog1show {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.djdndn{
  text-align: center;
}



.link{
  
}

.scroller{
  margin: 20px;
}
.ejeijej{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.img2 {
  width: 35%;
  margin: 0px;
  margin-top: 3%;
  margin-left: 3%;
  padding: 0px;
}
.tg{
  width: 5%;
  margin-top: 3%;
}
.ig{
  margin-left: 3%;
  width: 5%;
  margin-top: 3%;
  
}
.gap_1{
  width: 45%;
}